<!DOCTYPE html>
<html>
  <head>
    <title>Map Pinger</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1 class="{{ status_class }}">{{ message }}</h1>
    <script src="https://cdn.jsdelivr.net/gh/leonardosnt/mc-player-counter/dist/mc-player-counter.min.js"></script>

    <p style="color: white;">There are <span data-playercounter-ip="mc.diffusehyperion.me">0</span> players on mc.diffusehyperion.me right now.</p>
  </body>
</html>
