@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --bg-color: #202023;
  --text-color: #ffffff;
  --underline-color: #313134;
}

body {
  background-color: var(--bg-color);
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
  display: grid;
  place-items: center;
  align-content: center;
}

#main {
  padding-top: 50px;
  max-width: 700px;
}

.underline {
  border-bottom: 3px solid var(--underline-color);
}

#links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.preview {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.preview-container > a {
  color: var(--text-color);
  text-decoration: none;
}

.error {
  color: red;
  font-size: 24px;
}

.success {
  color: green;
  font-size: 24px;
}
